body::before {
    display: block;
    content: '';
    height: 50px;
}

.logo_red {
    background-color: rgba(201, 20, 20);
}

.sky_blue {
    background-color: rgb(111, 203, 253)
}

.nav_white {
    background-color: whitesmoke;
}

@media screen and (min-width: 992px) {
    .nav-item {
        border-left:1pt solid grey;
    }

    .nav-item:last-child {
        border-right:1pt solid grey;
    }
}

@media screen and (max-width: 992px) {
    .nav-item {
        border-top:1pt solid grey;
    }

}


.nowrap {
    white-space: nowrap;	
}

.about_bg {
    background-size: cover; 
    background-image: url(../img/sky.png);
}

/* || VARIABLES */

:root {

    /* COLORS */
    --BGCOLOR: orange;
    --BGCOLOR-FADE: rgb(252, 220, 160);
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --BODY-BGCOLOR: #fff;
    --FONT-COLOR: #000;
    --BORDER-COLOR: #333;
    --HIGHLIGHT-COLOR: rgb(51, 81, 178);
    --LINK-COLOR: #000;
    --LINK-HOVER: hsla(0, 0%, 0%, 0.6);
    --LINK-ACTIVE: orange;
    --HEADER-BGCOLOR: #000;
    --HEADER-COLOR: #fff;
    --NAV-BGCOLOR: #fff;
    --HERO-BGCOLOR: rgba(51, 81, 178, 0.75);
    --HERO-COLOR: #fff;
    --BUTTON-COLOR: #fff;

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);
    --BORDER-RADIUS: 15px;

    /* STANDARD PADDING */
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

/* || CONTACT */

.contact__h2 {
    margin: 0;
}

.contact__fieldset {
    border:none;
}

.contact__p {
    margin: 1em 0;
}

.contact__label {
    display: block;
    font-weight: bold;
}

.contact__input,
.contact__textarea {
    padding: 0.5em;
    border-radius: var(--BORDER-RADIUS);
    border-width: 2px;
    width: 100%;
}

.contact__button {
    padding: 0.5em;
    border-radius: var(--BORDER-RADIUS);
    background-color: var(--HIGHLIGHT-COLOR);
    color: var(--BUTTON-COLOR);
    font-weight: bold;
}

.font_sm {
    font-size: 15px;
}