body::before {
    display: block;
    content: '';
    height: 50px;
}

.nowrap {
    white-space: nowrap;	
}


.current {
    background-color: aquamarine;
}

.logo_red {
    background-color: rgba(201, 20, 20);
}

.sky_blue {
    background-color: rgb(111, 203, 253)
}

.nav_white {
    background-color: whitesmoke;
}



@media screen and (min-width: 992px) {
    .nav-item {
        position:relative;
        border-left:1pt solid grey;
    }
    
    .nav-link::after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        height: 1.5px;
        background:black;
        transform: scaleX(0);
        transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .nav-link:hover::after {
        transform: scaleX(1);
    }

    .nav-item:last-child {
        border-right:1pt solid grey;
    }
}

@media screen and (max-width: 992px) {
    .nav-item {
        border-top:1pt solid grey;
    }

}

.about_bg {
    background-size: cover; 
    background-image: url(../img/sky.png);
}

#home350e {
    animation: fadeInUp 3s;
}

#homeIntro {
    animation: fadeIn 2.5s;
}

/* Photo Gallery */
.img-gallery {
    width: 80%;
    margin: 20px auto 50px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img {
    width: 100%;
    cursor: pointer;
    transition: 0.4s; 
}

.img-gallery img:hover {
    /* transform: scale(0.8) rotate(-15deg); */
    transform: scale(1.1);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136, 0.2);
}

.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img {
    width: 90%;
    max-width: 600px;
}

.imgTxt {
    position: absolute;
    top: 85%;
    color: #fff;
}

.x {
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

#preImg {
    position: absolute;
    font-size: 30px;
    color: #fff;
    top: 50%;
    right: 78%;
    cursor: pointer;
}

#nextImg {
    position: absolute;
    font-size: 30px;
    color: #fff;
    top: 50%;
    left: 78%;
    cursor: pointer;
}

img.tadte_img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    /* width: 200px; */
  }
  
img.tadte_img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

@media(max-width: 960px) {
    .full-img img {
        width: 80%;
        max-width: 500px;
    }

    #preImg {
        top: 47%;
        right: 89%;
    }
    
    #nextImg {
        top: 47%;
        left: 89%;
    }

    .imgTxt {
        top: 70%;
    }
}

/* || VARIABLES */

:root {

    /* COLORS */
    --BGCOLOR: orange;
    --BGCOLOR-FADE: rgb(252, 220, 160);
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --BODY-BGCOLOR: #fff;
    --FONT-COLOR: #000;
    --BORDER-COLOR: #333;
    --HIGHLIGHT-COLOR: rgb(51, 81, 178);
    --LINK-COLOR: #000;
    --LINK-HOVER: hsla(0, 0%, 0%, 0.6);
    --LINK-ACTIVE: orange;
    --HEADER-BGCOLOR: #000;
    --HEADER-COLOR: #fff;
    --NAV-BGCOLOR: #fff;
    --HERO-BGCOLOR: rgba(51, 81, 178, 0.75);
    --HERO-COLOR: #fff;
    --BUTTON-COLOR: #fff;

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);
    --BORDER-RADIUS: 15px;

    /* STANDARD PADDING */
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;     
    }

    100% {
        opacity: 1;   
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;     
        transform: translateY(70px);
    }

    100% {
        opacity: 1;     
        transform: translateY(0);
    }
}


/* || CONTACT */

.contact__h2 {
    margin: 0;
}

.contact__fieldset {
    border:none;
}

.contact__p {
    margin: 1em 0;
}

.contact__label {
    display: block;
    font-weight: bold;
}

.contact__input,
.contact__textarea {
    padding: 0.5em;
    border-radius: var(--BORDER-RADIUS);
    border-width: 2px;
    width: 100%;
}

.contact__button {
    padding: 0.5em;
    border-radius: var(--BORDER-RADIUS);
    background-color: var(--HIGHLIGHT-COLOR);
    color: var(--BUTTON-COLOR);
    font-weight: bold;
}

.font_sm {
    font-size: 15px;
}